<div class="data-table-wrapper mat-elevation-z2">
  <table mat-table [dataSource]="rows" class="courses-mat-table">
    @for (column of columns; track column.key) {
      <ng-container [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.headerKey | translate }}
        </th>
        <td mat-cell *matCellDef="let row" [class]="column.cellClass || ''">
          @if (column.cellTemplate) {
            <ng-container *ngTemplateOutlet="column.cellTemplate; context: { $implicit: row }" />
          } @else if (column.cellType === 'badge') {
            <span class="status-badge" [ngClass]="getBadgeClass(row, column)">
              {{ getCellValue(row, column) }}
            </span>
          } @else {
            {{ getCellValue(row, column) }}
          }
        </td>
      </ng-container>
    }

    @if (actions.length) {
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-header">
          {{ 'coursesList.actions' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" class="actions-cell">
          <div class="actions">
            @for (action of actions; track action.labelKey) {
              <button
                mat-icon-button
                type="button"
                [matTooltip]="getActionLabel(action)"
                [attr.aria-label]="getActionLabel(action)"
                (click)="action.onClick(row)"
                [class]="action.buttonClass || 'action-btn'"
              >
                @if (action.icon) {
                  <i [class]="action.icon" class="action-icon"></i>
                }
              </button>
            }
          </div>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell empty-cell" [attr.colspan]="displayedColumns.length || 1">
        {{ emptyMessageKey | translate }}
      </td>
    </tr>
  </table>
</div>
